<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>445018731381-fdr0kpm7cnlsuf04c6bq3a3jivq0rm2q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445018731381-fdr0kpm7cnlsuf04c6bq3a3jivq0rm2q</string>
	<key>API_KEY</key>
	<string>AIzaSyD1G8uT-7uLdAgsUYLzai0PFFErIZzA4Yg</string>
	<key>GCM_SENDER_ID</key>
	<string>445018731381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.vudu.vuduMojoAppExample</string>
	<key>PROJECT_ID</key>
	<string>example-app---dev</string>
	<key>STORAGE_BUCKET</key>
	<string>example-app---dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445018731381:ios:ef18331b5d8c6aa074593c</string>
</dict>
</plist>